<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
<p>u1</p>
<p>Hello {{ .u1.Name }}</p>
<p>年龄：{{ .u1.Age }}</p>
<p>性别：{{ .u1.Gender }}</p>

{{/* 这是一个模板注释。*/}}
<p>m1</p>
<p>Hello {{ .m1.name }}</p>
<p>年龄：{{ .m1.age }}</p>
<p>性别：{{ .m1.gender }}</p>

<hr>
{{/* 条件判断 */}}
{{ $age := .m1.age }}
{{$v1 := 0}}
{{ if $v1 }}
    {{ $age}}
{{ else }}
    没获取到
{{end}}

<hr>
{{/* range 循环pipeline，pipeline必须是数组、切片、字典或者通道 */}}
{{ range $index,$hobby := .hobby }}
    <p>{{$index}} - {{$hobby}}</p>
{{end}}

<hr>

<p>m1</p>
{{ with .m1}}
    <p>Hello {{ .name }}</p>
    <p>年龄：{{ .age }}</p>
    <p>性别：{{ .gender }}</p>
{{end}}

<hr>
{{index .hobby 2}}

</body>
</html>